# ==========================
# Gradle
# ==========================
.gradle/
build/
**/build/

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml
out/

# ==========================
# Java
# ==========================
*.class

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Selenium Logs
# ==========================
chromedriver.log
geckodriver.log
msedgedriver.log

# ==========================
# Test Reports
# ==========================
reports/
test-output/
cucumber-report/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db